.nav{
    background-color: #371B58;
    
}   


h3{
    
    color: #78569e;
}
h4{
   
}

#frågor{
    text-align: center;
}
p{
    
    display: inline-block;
    width: 50%;
    color: white;
}





